.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 0;
    min-width: 0;
    flex: 1;
    overflow: auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tableContainer {
    border-radius: 12px !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
}

.drawerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.fab {
    position: fixed !important;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
}
