.container {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    min-height: 0;
    min-width: 0;
}

.header {}

.vipValidUntil {
    font-size: 12px;
    opacity: 0.5;
}



.gamesViewport {
    overflow-x: auto;
}

.gamesGrid {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}


.sidebar {
    min-width: 400px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.platformCard {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.platformHours {
}

.plataforms {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebarBottom {
    margin-top: auto;
}