.container {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    min-height: 0;
    min-width: 0;
    flex: 1;
    width: 100%;
}

.header {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.gamesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
    padding: 10px 0;
    justify-content: center;
}